@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*
    See site.css
    https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion
*@



<div class="position-absolute top-50 start-50 translate-middle">
    <div class="animation">Sale today</div>
</div>

