@page
@model ReducedMotionExample.Pages.Index2Model
@{
}

<div class="position-absolute top-50 start-50 translate-middle">
    <div class="animation1">Sale today</div>
    <div id="noAnimate" style="display: none">
        <div class="card" style="width: 21rem;">
            <img src="images/none.png" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Information</h5>
                <p class="card-text">Detected <mark>prefers-reduced-motion: reduce</mark></p>
            </div>
        </div>        
    </div>
</div>

@section Scripts
    {
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                console.log($Application.getMotion().toLowerCase());
                if (($Application.getMotion().toLowerCase() === 'true')) {
                    document.getElementById('noAnimate').style.display = 'inline';
                    document.getElementsByClassName('animation1')[0].style.display = 'none';
                }
            });

        </script>
}
