@page
@model ReducedMotionExample.Pages.SettingsPageModel
@{
}

<div class="alert alert-primary" role="alert">
    <h1 class="fs-6">Set reduce motion</h1>
</div>
<div class="container" id="main-content">
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="useMotion">
        <label class="form-check-label" for="useMotion">Use motion</label>
    </div>
</div>

@section Scripts
{
    <script>
        const identifier = 'useMotion';
        document.addEventListener("DOMContentLoaded", () => {
            document.getElementById(identifier).checked = $Application.getMotion();
        });

        document.getElementById(identifier).addEventListener("click", function () {
            $Application.setMotion(document.getElementById(identifier).checked);
        });
    </script>
}
